parameters:
    level: 5
    paths:
        - src
    ignoreErrors:
        - '~Parameter #1 \$error_handler of function set_error_handler expects \(callable\)|null, Closure\(mixed, mixed\): void given.~'
